.DS_Store
/.idea
/vendor
/composer.lock

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

#日志文件 不提交至版本库
/Log/*
!/Log/.gitignore
/env.ini
