;环境变量
env = dev

;是否开启调试【默认值false】
debug = true

;异常追踪信息是否记入日志【默认值false】
error_trace_log = false

[database]
host = localhost
port = 3306
database = phoenix
username = root
password = "123456"
driver = mysql
charset = utf8
