;环境变量
env = dev

;是否开启调试【默认值false】
debug = true

;错误信息是否写入日志【默认值true】
error_log = true

;错误信息的追踪信息是否写入日志【默认值false】
error_log_trace = false

;请求信息写入日志【默认值true】
request_log = false

;自定义日志路径
log_path =

[database]
host = localhost
port = 3306
database = phoenix
username = root
password = "123456"
driver = mysql
charset = utf8
